<div class="row py-lg-4 gx-8">
  <div class="row py-lg-2 gx-8">
  <!-- 자산관리 menu row-->
  <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
        <polyline points="2 17 12 22 22 17"></polyline>
        <polyline opacity=".4" points="2 12 12 17 22 12"></polyline>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">자산관리</h6>
      <p class="text-muted">
        와플의 자산 관리는 구매, 관리하는 유·무형자산 및 각종 비품, 소모품을 관리합니다. 
      </p>
      <a href="./asset.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- /자산관리 menu row-->

  <!-- 구매 menu row-->
  <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
        <rect opacity=".3" x="9" y="9" width="6" height="6"></rect>
        <line x1="9" y1="1" x2="9" y2="4"></line>
        <line x1="15" y1="1" x2="15" y2="4"></line>
        <line x1="9" y1="20" x2="9" y2="23"></line>
        <line x1="15" y1="20" x2="15" y2="23"></line>
        <line x1="20" y1="9" x2="23" y2="9"></line>
        <line x1="20" y1="14" x2="23" y2="14"></line>
        <line x1="1" y1="9" x2="4" y2="9"></line>
        <line x1="1" y1="14" x2="4" y2="14"></line>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">구매</h6>
      <p class="text-muted">
        구매 품목, 공급사 관리,발주관리, 납품관리, 정산 등 구매하는 전체 프로세스를 원스톱으로 제공합니다.
      </p>
      <a href="./purchase.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- /구매 menu row-->

  <!-- 계약관리 menu row-->
  <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="18" cy="18" r="3"></circle>
        <circle cx="6" cy="6" r="3"></circle>
        <path opacity=".4" d="M13 6h3a2 2 0 0 1 2 2v7"></path>
        <line opacity=".4" x1="6" y1="9" x2="6" y2="21"></line>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">계약관리 </h6>
      <p class="text-muted">
        계약의 모든 프로세스를 지원하고, 전자 인장 날인과 연계를 통해 계약의 A to Z를 지원합니다.
      </p>
      <a href="./contract.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- /계약관리 menu row-->
  </div>
  <div class="row py-lg-4 gx-8">

    <!-- 전자인장 menu row-->
    <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
        <polyline points="2 17 12 22 22 17"></polyline>
        <polyline opacity=".4" points="2 12 12 17 22 12"></polyline>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">전자인장</h6>
      <p class="text-muted">
        기업에서 오프라인으로 관리하는 모든 인감(법인 인감, 사용 인감) 사용을 
        전자 인장을 통해 관리합니다.
      </p>
      <a href="./stamp.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- /menu row-->

  <!-- e문서 menu row-->
  <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
        <rect opacity=".3" x="9" y="9" width="6" height="6"></rect>
        <line x1="9" y1="1" x2="9" y2="4"></line>
        <line x1="15" y1="1" x2="15" y2="4"></line>
        <line x1="9" y1="20" x2="9" y2="23"></line>
        <line x1="15" y1="20" x2="15" y2="23"></line>
        <line x1="20" y1="9" x2="23" y2="9"></line>
        <line x1="20" y1="14" x2="23" y2="14"></line>
        <line x1="1" y1="9" x2="4" y2="9"></line>
        <line x1="1" y1="14" x2="4" y2="14"></line>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading text-lowercase">e문서</h6>
      <p class="text-muted">
        복잡한 각종 주요 문서를 등급별로 구분하여 쉽고 빠르게
문서를 운영, 관리하는 업무 툴을 제공합니다.

      </p>
      <a href="./document.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- / e문서 menu row-->

  <!-- 워크 플로 menu row-->
  <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="18" cy="18" r="3"></circle>
        <circle cx="6" cy="6" r="3"></circle>
        <path opacity=".4" d="M13 6h3a2 2 0 0 1 2 2v7"></path>
        <line opacity=".4" x1="6" y1="9" x2="6" y2="21"></line>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">워크 플로
      </h6>
      <p class="text-muted">
        사용이 편리한 직관적 UI를 통해  체계적인 업무 프로세스 지원합니다.

      </p>
      <a href="./workflow.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- / 워크플로 menu row-->
  </div>
    <!-- 일반 총무 menu row-->
    <div
    class="col-auto me-4 mb-4 me-lg-0 mb-lg-0 col-lg-4 d-flex align-items-start"
  >
    <span class="f-w-16 d-block text-primary me-4 d-none d-lg-flex">
      <svg
        class="w-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="18" cy="18" r="3"></circle>
        <circle cx="6" cy="6" r="3"></circle>
        <path opacity=".4" d="M13 6h3a2 2 0 0 1 2 2v7"></path>
        <line opacity=".4" x1="6" y1="9" x2="6" y2="21"></line>
      </svg>
    </span>
    <div class="position-relative">
      <h6 class="dropdown-heading">일반 총무</h6>
      <p class="text-muted">
        루틴한 업무를 원스톱으로 처리 할 수 있는 프로세스를 지원합니다.
      </p>
      <a href="./administration.html" class="fw-medium fs-7 text-decoration-none link-cover"
        >더 보기 &rarr;</a
      >
    </div>
  </div>
  <!-- /menu row-->
</div>
