<!-- Footer-->
<footer class="bg-dark pt-0 pb-8 {{configClassList}} {{classList}}">
  <div class="bg-primary pt-10 w-100">
    <!-- Free trial -->
    <div class="border-bottom border-white-10 pb-7">
      <div
        class="col-12 col-md-8 col-lg-6 d-flex mx-auto flex-column align-items-center justify-content-center"
      >
        <h2 class="fs-1 fw-bolder text-white text-center">
          새로운 변화의 시작의 첫걸음!<br />
          14일 무료체험으로 시작해보세요.
        </h2>
        <a href="#" class="btn btn-white mt-5 w-100 w-md-auto" role="button"
          >무료 체험 신청</a
        >
      </div>
    </div>
    <!-- Free trial-->
  </div>

  <!-- Footer Menus-->
  <div class="container pt-7">
    <div class="d-flex justify-content-between align-items-start">
      <!-- Footer Logo-->
      <a
        class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0"
        href="#"
      >
        <!-- Logo SVG Icon-->
        <span class="f-w-7 d-block text-success me-2">
          {{> logo/logo-icon }}
        </span>
        <!--/ Logo SVG Icon -->
        <span class="fw-bold"></span>
      </a>
      <!-- /Footer Logo-->
      <div class="w-50 d-flex flex-wrap justify-content-between">
        <!-- Menu-->
        <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
          <h6
            class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50"
          >
            회사소개
          </h6>
          <ul class="list-unstyled footer-nav">
            <li>
              <a href="#"
                >와플팀
                <span class="badge bg-danger rounded ms-2 align-middle"
                  >new</span
                ></a
              >
            </li>
            <li><a href="#">미션</a></li>
            <li><a href="#">업데이트소식</a></li>
            <li><a href="#">보안</a></li>
            <li>
              <a href="#"
                >채용
                <span class="badge bg-primary rounded ms-2 align-middle"
                  >준비중</span
                ></a
              >
            </li>
            <li><a href="#">블로그</a></li>
          </ul>
        </div>
        <!-- /Menu-->

        <!-- Menu-->
        <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
          <h6
            class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50"
          >
            제품서비스
          </h6>
          <ul class="list-unstyled footer-nav">
            <li><a href="#">자산관리</a></li>
            <li><a href="#">구매</a></li>
            <li><a href="#">계약관리</a></li>
            <li><a href="#">전자인장</a></li>
            <li><a href="#">e문서</a></li>
            <li><a href="#">워크플로</a></li>
            <li><a href="#">일반총무</a></li>
          </ul>
        </div>
        <!-- /Menu-->

        <!-- Menu-->
        <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
          <h6
            class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50"
          >
            가격
          </h6>
          <ul class="list-unstyled footer-nav">
            <li><a href="#">무료체험</a></li>
            <li><a href="#">요금안내</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <!-- /Menu-->
      </div>
      <!-- Footer socials-->
      <!-- <ul class="list-unstyled d-flex align-items-center justify-content-end">
        <li class="ms-5">
          <a
            href="#"
            class="text-white text-decoration-none opacity-50-hover transition-opacity"
            ><i class="ri-facebook-circle-line ri-lg"></i
          ></a>
        </li>
        <li class="ms-5">
          <a
            href="#"
            class="text-white text-decoration-none opacity-50-hover transition-opacity"
            ><i class="ri-twitter-line ri-lg"></i
          ></a>
        </li>
        <li class="ms-5">
          <a
            href="#"
            class="text-white text-decoration-none opacity-50-hover transition-opacity"
            ><i class="ri-instagram-line ri-lg"></i
          ></a>
        </li>
        <li class="ms-5">
          <a
            href="#"
            class="text-white text-decoration-none opacity-50-hover transition-opacity"
            ><i class="ri-snapchat-line ri-lg"></i
          ></a>
        </li>
      </ul> -->
      <!-- Footer socials-->
    </div>
  </div>
  <!-- Footer Menus-->

  <!-- Footer bottom-->
  <div class="container">
    <div
      class="border-top pt-6 mt-7 border-white-10 d-flex flex-column flex-md-row justify-content-between align-items-end align-items-sm-center"
    >
      <div
        class="d-flex flex-column align-items-lg-start align-items-sm-center"
      >
        <div class="d-flex flex-row">
          <span class="small text-white fw-bold mb-2 mb-md-0 opacity-75">
            사업자등록번호</span
          >
          <span class="small text-white mb-2 mb-md-0 opacity-75">
            &nbsp; 771-87-02678</span
          >

          <div class="fw-bold block text-white opacity-75">&nbsp; | &nbsp;</div>
          <div class="d-flex flex-row">
            <span class="small text-white fw-bold mb-2 mb-md-0 opacity-75"
              >대표이사</span
            >
            <span class="small text-white mb-2 mb-md-0 opacity-75">
              &nbsp; 김태경</span
            >
          </div>
        </div>
        <div class="d-flex flex-row">
          <span class="small text-white fw-bold mb-2 mb-md-0 opacity-75">
            도입 문의
          </span>
          <span class="small text-white mb-2 mb-md-0 opacity-75">
            &nbsp; biz@greatbee.co.kr</span
          >
          <div class="fw-bold block text-white opacity-75">&nbsp; | &nbsp;</div>
          <div class="d-flex flex-row">
            <span class="small text-white fw-bold mb-2 mb-md-0 opacity-75"
              >기능 및 이용 문의</span
            >
            <span class="small text-white mb-2 mb-md-0 opacity-75">
              &nbsp; 채팅</span
            >
          </div>
        </div>
        <div class="d-flex flex-row align-items-sm-center">
          <span class="small text-white fw-bold mb-2 mb-md-0 opacity-75">
            주소
          </span>
          <span class="small text-white mb-2 mb-md-0 opacity-75">
            &nbsp; 서울시 마포구 양화로8길 17-28, 2층</span
          >
        </div>
      </div>
      <div
        class="d-flex flex-column align-items-sm-center align-items-lg-start"
      >
        <span class="small text-white opacity-50 mb-4 mb-md-2 mb-sm-0"
          >All rights reserved &copy Lemonbase Corp</span
        >
        <span class="small text-white opacity-50"
          >서비스이용약관 | 개인정보처리방침</span
        >
      </div>
    </div>
  </div>
  <!-- Footer bottom-->
</footer>
<!-- / Footer-->

<!-- Additional imports (modals, offcanvas)-->
{{> footer/imports }}
<!-- / Additional imports-->
